
@{
    ViewData["Title"] = "BirimDetay";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}



<h3>@ViewBag.brm</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th> Id</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Sehir</th>
        <th>Birim</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.PersonelID</td>
            <td>@x.Ad</td>
            <td>@x.Soyad</td>
            <td>@x.Sehir</td>
            <td><a href="/Default/BirimSil/@x.PersonelID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Default/BirimGetir/@x.PersonelID" class="btn btn-success">Güncelle</a></td>
        </tr>

    }
</table>

